.root {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: end;
    padding: 20px 15px;
    margin-bottom: 10px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 64px;
        background-color: oklab(97.315% 0 -0.00011 / 0.36);
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
        border-radius: 26px;
        backdrop-filter: blur(100px);
        border: 2px solid rgba(235, 235, 235, 0.1);
        z-index: -1;
        padding: 20px 15px;
        transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 2.2);
    }
}

.button {
    width: 64px;
    height: 64px;
    display: flex;
    place-items: center;
    place-content: center;
    transition: all 160ms linear;

    margin: 0 10px;

    img {
        width: inherit;
        height: inherit;
    }

    &:hover {
        width: calc(64px * 2);
        height: calc(64px * 2);

        /* previous card */
        :has(+ &):is(button) {
            width: calc(64px * 1.5);
            height: calc(64px * 1.5);
        }

        /* previous card before that */
        :has(+ * + &) {}

        :has(+ * + * + &) {
            background-color: red
        }

        /* next card */
        &+* {}

        /* next card after that */
        &+*+* {}

        &+*+*+* {
            background-color: blue;
        }

    }
}

.separator {
    pointer-events: none;
    border-color: oklab(35.885% 0.00326 -0.01157 / 0.61);
    border-width: 1.5px
}