.root {
    --width: 60px;

    position: relative;
    display: flex;
    align-items: end;
    padding: 20px 15px;
    margin: auto auto 10px auto;
    height: calc(var(--width) + 40px);
    z-index: 900;

    &:hover {
        &>.button::before {
            transform: translateY(6px)
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        z-index: -1;
        right: 0;
        bottom: 0;
        height: inherit;
        background-color: oklab(97.315% 0 -0.00011 / 0.36);
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
        border-radius: 36px;
        backdrop-filter: blur(100px);
        border: 2px solid rgba(235, 235, 235, 0.1);
        transition: all 180ms cubic-bezier(0.25, 1, 0.5, 1);
        box-sizing: border-box;

        @supports (corner-shape: squircle) {
            corner-shape: squircle;
            border-radius: 50px;
        }
    }

    :has(+ hr) {
        padding-right: 20px;
    }

    &>hr+* {
        padding-left: 20px;
    }

    :has(+ hr),
    &>hr+* {
        &::after {
            width: calc(var(--width) + 62px);
        }
    }
}

div:has([data-resizing="true"], [data-dragging="true"]) .root {
    pointer-events: none
}

.button {
    width: var(--width);
    height: var(--width);
    display: flex;
    place-items: center;
    place-content: center;
    transition: all 180ms cubic-bezier(0.25, 1, 0.5, 1);
    padding: 0 8px;
    box-sizing: content-box;
    position: relative;
    user-select: none;

    &::before {
        content: '';
        position: absolute;
        height: calc(100% + 40px);
        background-color: transparent;
        width: calc(var(--width) + 40px);
        z-index: 1;
        cursor: inherit;
    }

    img {
        width: 100%;
        height: 100%;
    }

    &>div {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: inherit;
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &:hover {
        width: calc(var(--width) * 1.5);
        height: calc(var(--width) * 1.5);

        .tooltip {
            display: inline-block
        }

        /* left */
        :has(+ &):is(button),
        :has(+ * + &):is(button) {
            width: calc(var(--width) * 1.43 + var(--offset, 0px) * -1);
            height: calc(var(--width) * 1.43 + var(--offset, 0px) * -1);
        }

        :has(+ button + &):is(button),
        :has(+ button + * + &):is(button),
        :has(+ hr + button + &):is(button) {
            width: calc(var(--width)* 1.25 + var(--offset, 0px) * -1);
            height: calc(var(--width) * 1.25 + var(--offset, 0px) * -1);
        }

        :has(+ button + button + &):is(button),
        :has(+ button + button + hr + &):is(button),
        :has(+ button + hr +button + &):is(button),
        :has(+ hr + button + button + &):is(button) {
            width: calc(var(--width)* 1.1 + var(--offset, 0px) * -1);
            height: calc(var(--width) * 1.1 + var(--offset, 0px) * -1);
        }

        /* right */
        &+button:is(button),
        &+*+button {
            width: calc(var(--width)* 1.43 + var(--offset, 0px));
            height: calc(var(--width) * 1.43 + var(--offset, 0px));
        }

        &+button+button:is(button),
        &+*+button:is(button)+button,
        &+*+*+button {
            width: calc(var(--width)* 1.25 + var(--offset, 0px));
            height: calc(var(--width) * 1.25 + var(--offset, 0px));
        }

        &+button+button+:is(button),
        &+*+*+hr+:is(button),
        &+*+hr+button+:is(button),
        &+hr+button+button+:is(button) {
            width: calc(var(--width)* 1.1 + var(--offset, 0px));
            height: calc(var(--width) * 1.1 + var(--offset, 0px));
        }
    }
}

.separator {
    pointer-events: none;
    border-color: oklab(35.885% 0.00326 -0.01157 / 0.61);
    height: 100%;
    z-index: 0;
    width: 0 !important;
}

.tooltip {
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(242, 242, 242, 0.8);
    backdrop-filter: blur(10px);
    width: auto;
    height: auto;
    color: var(--labels-vibrant-primary);
    padding: 8px 14px;
    border-radius: 20px;
    text-align: center;
    bottom: calc(100% + 20px);

    &:after {
        content: '';
        width: 25px;
        height: 25px;
        position: absolute;
        clip-path: path("M 0 0 C 4 1 5 2 10 6 C 12 7 13 7 15 6 C 20 2 21 1 25 0");
        background-color: inherit;
        top: 100%;
        left: 50%;
        transform: translate(-50%)
    }
}

.on_open_animate {
    transform: scale(1.2);
    animation-name: open;
    animation-duration: 900ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96)
}

@keyframes open {
    0% {
        transform: translateY(0px)
    }

    25% {
        transform: translateY(-50px)
    }

    50% {
        transform: translateY(0)
    }

    75% {
        transform: translateY(-20px)
    }

    100% {
        transform: translateY(0px)
    }
}

.is_opened {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        height: calc(4px * var(--scale)) !important;
        width: calc(4px * var(--scale)) !important;
        background-color: rgba(0, 0, 0, 0.5);
        bottom: -10px;
        border-radius: 50%
    }

    img {
        filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.2));
    }
}

.opened_app_container {
    display: flex
}