.root {
    --left: 50%;
    --top: 50%;
    --width: 0;
    --height: 0;
    --left: 0;

    position: fixed;
    border-radius: 36px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 16px 48px 0 rgba(0, 0, 0, 0.35);
    left: var(--left);
    top: var(--top);
    width: var(--width);
    height: var(--height);
    user-select: none;
    -webkit-user-drag: none;
    z-index: 1;
    outline: none;
    overflow: hidden;
    box-sizing: border-box;

    &::before {
        content: '';
        transition: all 100ms linear;
        position: absolute;
        background-color: transparent;
        inset: 0;
        z-index: -1;
    }

    &:focus-within {
        z-index: 2 !important;

        &::before {
            backdrop-filter: blur(40px);
        }

        .anchor {
            background-color: transparent;
            display: block
        }

        .close:not(:disabled) {
            background-color: #FF736A;
        }

        .minimize:not(:disabled) {
            background-color: #FEBC2E;
        }

        .maximize:not(:disabled) {
            background-color: #19C332;
        }
    }
}

.traffic_light_container {
    display: inline-flex;
    position: absolute;
    left: 22px;
    top: 22px;
    gap: 8px;
    z-index: 56;

    &:hover {
        z-index: 2 !important;

        .traffic_light svg {
            opacity: 1;
        }

        .close:not(:disabled) {
            background-color: #FF736A;
        }

        .minimize:not(:disabled) {
            background-color: #FEBC2E;
        }

        .maximize:not(:disabled) {
            background-color: #19C332;
        }
    }

    &>button {
        transition: all 160ms ease;
        width: calc(14px * var(--scale));
        height: calc(14px * var(--scale));
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: rgba(135, 135, 135, 0.5);

        &>button:disabled {
            background-color: rgba(0, 0, 0, 0.1) !important;
        }
    }
}

.left_top {
    left: 0;
    top: 0;
    border-radius: 20px 0 0 0;
}

.left_bottom {
    left: 0px;
    bottom: 0px;
    border-radius: 0 0 0 20px;
}

.right_top {
    right: 0;
    top: 0;
    border-radius: 0 20px 0 0;
}

.right_bottom {
    right: 0;
    bottom: 0;
    border-radius: 0 0 20px 0;
}

.anchor {
    width: 16px;
    height: 16px;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    background-color: transparent;
    display: none;
    z-index: 55;
}

.traffic_light {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        opacity: 0;
        transition: all 120ms ease-in-out
    }
}

.minimize {
    svg {
        stroke-width: 2px
    }
}

.close {
    svg {
        stroke-width: 3px;
        transform: rotate(45deg)
    }
}