.root {
    position: fixed;
    border-radius: 26px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23), 0 16px 48px 0 rgba(0, 0, 0, 0.35);
    resize: both;

    &::after {
        content: ''
    }
}

.window_control_container {
    display: inline-flex;
    position: absolute;
    z-index: 2;
    left: 22px;
    top: 22px;
    gap: 8px;

    &>button {
        width: calc(14px * var(--scale));
        height: calc(14px * var(--scale));
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1)
    }
}


#close {
    background-color: #FF736A;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

#minimize {
    background-color: #FEBC2E;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

#maximize {
    background-color: #19C332;
}

.left_top {
    left: 0;
    top: 0;
    border-radius: 20px 0 0 0;
}

.left_bottom {
    left: 0px;
    bottom: 0px;
    border-radius: 0 0 0 20px;

}

.right_top {
    right: 0;
    top: 0;
    border-radius: 0 20px 0 0;
}

.right_bottom {
    right: 0;
    bottom: 0;
    border-radius: 0 0 20px 0;
}

.anchor {
    width: 16px;
    height: 16px;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    background-color: transparent;
}