 .root {
     display: flex;
 }

 .carousel {
     flex: 2
 }

 .content {
     flex: 1;
     margin: 20px 16px;
 }


 .title {
     text-align: center;
     margin: 20px 0;
     color: var(--grays-black)
 }

 .subtitle {
     margin: 10px 0;
 }

 .list {
     padding-left: 16px;
     display: grid;
     gap: 10px;
 }

 .toggle_container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px 0;
     column-gap: 10px
 }