:root {
    font-family: SFProText, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    margin: 0;
    display: flex;
}

#app {
    min-width: 1920px;
    width: 100%;
}

svg {
    pointer-events: none
}