@import url('../assets/fonts/SFPro/font-face.css');
@import url('./styles/colors.css');
@import url('./styles/cursors.css');

:root {
    font-family: SFProText, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
    height: 100%
}

body {
    margin: 0;
    background-image: url(../assets/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#app {
    width: 100%;
    height: 100%;
}

#container {
    min-width: 1280px;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: flex;
    flex-direction: column
}

svg {
    pointer-events: none
}

* {
    box-sizing: border-box
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none
}

hr {
    margin: 0;
}

/* Style the entire scrollbar */
::-webkit-scrollbar {
    -ms-overflow-style: none;
    width: 8px;
    /* Set the width for vertical scrollbars */
    height: 8px;
    /* Set the height for horizontal scrollbars */
}

/* Style the scrollbar track (the background) */
::-webkit-scrollbar-track {
    background-color: rgba(135, 135, 135, 0.08);
    border-radius: 8px;
}

/* Style the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
    background-color: rgba(135, 135, 135, 0.25);
    border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Style the scrollbar corner (where horizontal and vertical scrollbars meet) */
::-webkit-scrollbar-corner {
    background-color: transparent;
}

#fake-canvas {
    background-color: transparent
}