.root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(16px);
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23), 0 16px 48px 0 rgba(0, 0, 0, 0.35);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.footer {
    margin-top: 20px;
    display: grid;
    width: 100%;

}